# Visual Studio #
#################
.vs
*.pyproj
*.sln
*.sdf
*.vcxproj
*.vcxproj.filters


# Eclipse #
###########
.metadata
.project
.pydevproject

# Other #
#########
*.~*
__pycache__
.opensdf
Visual Micro